body
{
    background: url('./background.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-family: "comfortaa" sans-serif;
    color: rgb(207, 226, 228);
}
.inputfield
{
    outline: none;
}
.searchbar
{
outline: none;
height: 10vh;
display: flex;
align-items: center;
justify-content: center;
}
.searchbarparentdiv
{
width: 50%;
height: fit-content;
position: relative;
}
.inputfield
{
width: 100%;
border-radius: 25px;
padding: 10px;
border: 0px;
}
.searchicon
{
    position: absolute;
    right:10px;
    top: 5px;
}
.searchicon:hover
{
    cursor: pointer;
}
.maincontentpara
{
  height: 90vh; 
  flex-direction: row; 
}
.leftdiv
{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.leftchild
{
   background: rgba(212,212,212,0.4);
   width: 85%; 
   height: 40vh;
   margin: auto;
   border-radius: 15px;
   backdrop-filter: blur(20px);
}
.currenttempdiv
{
   font-size: larger; 
}
#cityname
{
    font-size: xx-large;
}
#citytemp
{
    font-size: x-large;
}

.rightdiv
{
   width: 70%; 
   height: 100%;
   display: flex;
   flex-direction:column;
   gap: 20px;
   padding-right: 45px;
}
#comingfivedaystitle
{
    font-size: x-large ;
}
.rightrow
{
    height: 27vh;
    width: 100%;

}
.extrametric
{
   background: rgba(212,212,212,0.4);
   padding: 5% 2%; 
   width: fit-content;
   border-radius: 15px;
   align-items: center;
   backdrop-filter: blur(20px);
}
.rowtwodiv
{
   background: rgba(212,212,212,0.4); 
   backdrop-filter: blur(20px);
   width: 45%;
   height: 85%;
   border-radius: 15px;
}
.todaytemp
{
    background: rgba(212,212,212,0.4); 
    width: fit-content;
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
@media only screen and (max-width:767px)
{
    .leftdiv
    {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap:15px;
        margin-top: 15px;
        
    }
    .rightdiv
    {
        width: 100%;
        padding-right: 0px;
    }
    .maincontentpara
    {
        height: 90vh;
        flex-direction: column;
    }
    .searchbar
    {
        width: 100%;
    }
    .searchbarparentdiv
    {
        width: 85%;
        height: fit-content;
        position: relative;
    }
    .rowone
    {
        /*flex-direction: column;*/
        flex-wrap: wrap;
        width: 85%;
        margin: auto;
        height: 45vh;
    }
    .rowtwo
    {
        flex-direction: column;
    }
    .rowtwo
    {
        gap: 10px;
        height: 330vh;
    }
    .rowtwodiv
    {
       background: rgba(212,212,212,0.4);
       backdrop-filter: blur(20px); 
       width: 85%; 
       height: 85%;
       border-radius: 15px;
    }
    .rowthree
    {
        width: 65%;
        margin: auto;
    }
    .todaytempparadiv
    {
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
        gap: 15px;
    }
    .extrametric
    {
      background: rgba(212,212,212,0.4);
      padding: 5% 2%; 
      width: fit-content;
      border-radius: 15px;
      align-items: center;
    }
}